

/*styleliam.css*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}


.container-marketing {
	table-layout: inherit;
	text-align: center;
	margin-top: 40px;
	

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;

}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

  @media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

	.card{

        background-color: #5383d3;

    }

    /* //--agents page--// */
        table {
        border-collapse:collapse;
        margin-right:auto;
        margin-left:auto;
        width:100%;

        }
   
        /* tablecell {
            display:table-cell;
            text-align:center;
        } */
           
        
        }
        table th {
        text-align: left;
        background-color: #3a6070;
        color: lightseagreen;
        padding: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
        font-size: 130%;
        }
        
        table td {
        border: 1px solid rgb(37, 68, 100);
        padding: 4px 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 120%;
        
        }

        table tr:nth-child(odd) td {
            background-color: lightsalmon;
        }
       
        /* about link in footer*/
        .para1 {
            font-family: italic;
            font-size: 20px;
            padding: auto;
            background-color: lightgray;
        }

        .para2 {
            font-family: italic;
            font-size: 25px;
            padding: auto;
            background-color: lightskyblue;
        }

        .para3 {
            font-family: italic;
            font-size: 25px;
            padding: auto;
            background-color: lightskyblue;
        }

        .h1style {
            font-family: italic;
            font-size: 35px;
            padding: auto;
            background-color: rgb(155, 45, 45);
        }

		.row {

			justify-content: space-between;

			
		}

		.cards {
			align-content: center;
			align-self: center;
			display: flex;
			justify-content: space-between;
			font-size: 20px;
		 }

		 .agentstable {

			height: 25%;
			width: 25%;

		}

		.card-text {

			font-size: 130%;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			color: #007b5e;


		}
		
		.card-title2 {

			font-size: 200%;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			color:#007b5e;

		}

		.box{
			display: none;
			width: 100%;
		}
		
		a:hover + .box,.box:hover{
			display: block;
			position: relative;
			z-index: 100;
		}
		
		/* hover on image agency */

		.content {
			padding-top: 30px;
		}
		
		/* Heading */
		.heading {
			z-index: 1;
			position: relative;
			text-align: center;
			margin-bottom: 100px;
		}
		
		.heading:after {
			left: 50%;
			height: 3px;
			width: 50px;
			content: " ";
			bottom: -35px;
			margin-left: -25px;
			position: absolute;
			background: #444;
		}
		
		.heading h2 {
			font-size: 40px;
			font-weight: 500;
			margin: 0 0 20px;
			color: #444;
		}
		
		.heading p {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: #8693a7;
		}
		
		/* Team Members */
		.team-members {
			width: 100%;
			cursor: pointer;
			overflow: hidden;
			position: relative;
			margin-bottom: 35px;
		}
		
		.team-members .team-avatar {
			position: relative;
		}
		
		.team-members .team-avatar:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: " ";
			position: absolute;
			background: rgba(129, 129, 129, 0.1);
			transition-duration: 300ms;
			transition-property: all;
			transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		}
		
		.team-members .team-avatar img {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		
		.team-members .team-desc {
			left: auto;
			bottom: 0;
			width: 100%;
			padding: 0 20px;
			position: absolute;
			opacity: 0;
			color: #fff;
			-webkit-transform: translate3d(0, 10%, 0);
			transform: translate3d(0, 10%, 0);
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
		
		.team-members .team-desc h4 {
			font-size: 22px;
			font-weight: 600;
			margin: 0 0 10px;
			color: #fff;
		}
		
		.team-members .team-desc span {
			display: block;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
		}
		
		.team-members:hover .team-avatar:after {
			background: rgba(47, 60, 72, 0.5);
			transition-duration: 300ms;
			transition-property: all;
			transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		}
		
		.team-members:hover .team-desc {
			-webkit-transform: translate3d(0, -5%, 0);
			transform: translate3d(0, -5%, 0);
			-webkit-transform: translate3d(0, -10%, 0);
			transform: translate3d(0, -10%, 0);
		}
		
		.team-members:hover .team-desc {
			opacity: 1;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
		}
		