.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Poppins",sans-serif;
	font-weight: lighter;
}

.pb-70 {
    padding-bottom: 70px;
}

.section-gap {
    padding: 100px 0;
}

.mb-0 {
	margin-bottom: 0px;
}

.lightertext {
	color:#7d8285;
}